* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    padding: 0;
    margin: auto;
    min-height: 512px;
}

.colourFrame {
    background: red;
}

.textFrame {
    z-index: 8;
    padding: 24px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#inputTitle,
#inputText {
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 8px;
    width: 100%;
}

#inputTitle:hover,
#inputText:hover,
#inputTitle:active,
#inputText:active {
    background-color: rgba(0, 0, 0, 0.05);
    outline-color: rgba(0, 0, 0, 0.2);
    -webkit-focus-ring-color: rgba(0, 0, 0, 0.2);
}

#inputTitle {
    font-size: 20px;
    margin-bottom: 8px;
    display: none;
}

#inputText {
    font-size: 16px;
}

.content {
    font-size: 32px;
    color: white;
    width: 100%;
    padding: 2em;
    word-wrap: break-word;
    -webkit-nbsp-mode: space;
}


/* #trigger:checked + #inputTitle {
	display: none;
}

#trigger: {
	display: block;
} */

#toolbox {
    z-index: 16;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background: rgba(0, 0, 0, 0.05);
    display: flex-row;
    align-items: flex-end;
    padding: 16px;
    border-radius: 16px;
    min-width: 320px;
    max-width: 680px;
}

.button-download {
    background: white;
    border-width: 0px;
    color: black;
    padding: 16px;
    border-radius: 8px;
}